.container {
  height: 500px;
  margin: auto;
  border: 2px solid black;
  background-color: burlywood;
  display: grid;
  /* grid-template-columns: 150px 200px ; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2,) ; */
  gap: 20px;
}
.item img {
  width: 100%;
  height: 100%;
}
/* .item2 {
  background-color: orange;
}

.item3 {
  background-color: red;
}

.item4 {
  background-color: blue;
}

.item5 {
  background-color: green;
}

.item6 {
  background-color: yellowgreen;
} */
